/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #000;
  background-color: #fff;
}

a {
  color: #36a18b;
  text-decoration: none;
}

a:hover {
  color: #2b697a;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: #fafbfb;
}

#header h1 > a {
  font-family: "Josefin Sans", sans-serif;
  color: #2b697a;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar-nav {
  text-align: end;
}

.nav-link:hover {
  color: #457b9d;
  text-decoration: none;
}

.navbar-nav a,
.navbar-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar-nav .active {
  text-decoration: none;
  border-radius: 5px;
  background-color: #e8f2ee;
  font-weight: bold;
}

.navbar-toggler {
  text-align: end;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 60px 0;
  text-align: center;
}

.section-title h2 {
  padding: 30px 0;
  font-weight: bold;
  position: relative;
  color: #2b697a;
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background: #2b697a;
  display: inline-block;
}

@media (max-width: 575px) {
  .section-title h2::before,
  .section-title h2::after {
    content: "";
    width: 10px;
  }
}

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin: 15px 0 0 0;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
  margin-top: 150px;
  margin-bottom: 100px;
}

#home h1 {
  margin: 10px 0 5px 0;
  font-family: "Josefin Sans";
  font-size: 50px;
  font-weight: 700;
  color: #2b697a;
}

#home h2 {
  font-size: 20px;
}

#home .btn-download-cv {
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #2b697a;
}

#home .btn-download-cv:hover {
  background: #e8f2ee;
  color: #2b697a;
}

#home .side-links ul {
  text-align: right;
  margin: 10px 0 10px 0;
  font-size: 20px;
  list-style-type: none;
}

#home .side-links .linkedin {
  color: #0a66c2;
}

#home .side-links .github {
  color: #120d33;
}

#home .side-links .itch-io {
  color: #fa5c5c;
}

#home .side-links .google-play {
  color: #00c8ff;
}

#home .side-links .youtube {
  color: #ff0000;
}

#home .side-links .facebook {
  color: #1877f2;
}

#home .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #home {
    text-align: center;
    margin-top: 10px;
  }

  #home .animated {
    -webkit-animation: none;
    animation: none;
  }

  #home .home-img {
    text-align: center;
  }

  #home .home-img img {
    width: 50%;
  }

  #home .side-links ul {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #home {
    margin: 10px 0;
  }

  #home h1 {
    font-size: 32px;
  }

  #home h2 {
    font-size: 18px;
  }

  #home .top-img img {
    width: 70%;
  }

  #home .side-links ul {
    text-align: center;
  }
}

@media (max-width: 575px) {
  #home .top-img img {
    width: 80%;
  }

  #home .side-links ul {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# education
--------------------------------------------------------------*/
.education {
  background-color: #f2f2f2;
}

.education .box {
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  background: #fff;
  text-align: center;
  border-radius: 20px;
}

.education .box h3 {
  font-weight: bold;
  color: #36a18b;
}

.education .box ul {
  list-style-type: none;
  text-align: center;
}

/*--------------------------------------------------------------
# participation
--------------------------------------------------------------*/
.participation {
  background-color: #fff;
}

.participation .icon-box {
  margin: 10px 10px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #ebdecb;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.participation .icon-box::before {
  content: "";
  position: absolute;
  background: #e8f2ee;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}

.participation .icon-box:hover::before {
  background: #e8f2ee;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.participation .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #9eff85;
  transition: all 0.3s ease-in-out;
}

.participation .icon i {
  font-size: 36px;
  line-height: 1;
  color: #000;
}

.participation h4 {
  color: #36a18b;
  font-weight: bold;
  margin-bottom: 15px;
}

.participation a {
  font-style: italic;
}

.participation .icon-box:hover .icon {
  background: #fff;
}

/*--------------------------------------------------------------
# Software Project
--------------------------------------------------------------*/
.software-project {
  background-color: #f2ece1;
}

.software-project h3 {
  font-weight: bold;
  color: #36a18b;
  margin: 15px 0;
}

.software-project .card {
  margin: 10px 10px;
  padding: 150px 20px 20px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.software-project .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px;
  box-shadow: 0px 2px 15px rgba(0, 50, 0, 0.5);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 15px;
}

.software-project .card-body .bi-youtube {
  color: #ff0000;
}

.software-project .card-body .bi-github {
  color: #120d33;
}

.software-project .card-body .bi-download {
  color: #07eb1e;
}

/*--------------------------------------------------------------
# computer-skill
--------------------------------------------------------------*/
.computer-skill {
  background-color: #e7eef2;
}

.computer-skill h5 {
  text-align: start;
  color: #36a18b;
  margin: 10px 0;
}

.computer-skill .icon-box {
  margin: 10px 5px 0 5px;
  display: flex;
  padding: 10px;
  background: #fff;
  transition: ease-in-out 0.3s;
}

.computer-skill .icon-box i {
  font-size: 32px;
  padding: 0 20px;
}

/*--------------------------------------------------------------
# achievement
--------------------------------------------------------------*/
.achievement {
  background-color: #fff;
}

.achievement .box {
  margin: 10px 0 10px 0;
  padding: 10px 10px;
  background: #e8f2ee;
  text-align: center;
  border-radius: 20px;
}

.achievement .box h3 {
  font-weight: bold;
  color: #36a18b;
  margin: 15px 0;
}

/*--------------------------------------------------------------
# extra
--------------------------------------------------------------*/
.extra {
  background-color: #ead6d6;
}

.extra .icon-box {
  margin: 10px 10px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.extra .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #9eff85;
  transition: all 0.3s ease-in-out;
}

.extra .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}

.extra h4 {
  color: #36a18b;
  font-weight: bold;
  margin-bottom: 15px;
}

.extra a {
  font-style: italic;
}

.extra ul {
  padding-left: 30px;
  text-align: start;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
  background-color: fff;
}

.faq h5 {
  text-align: start;
}

.faq .faq-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.faq .faq-item .ri-question-line {
  color: #ff0000;
  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 20px 0 0;
}

.faq .faq-item .ri-check-double-line {
  color: #4cbd4c;
  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 20px 0 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background-color: #cbe3d9;
}

.contact h3 {
  text-align: start;
  font-weight: bold;
  color: #36a18b;
}

.contact h4 {
  text-align: center;
  font-weight: bold;
  color: #36a18b;
}

.contact p {
  text-align: start;
}

.contact .mail-text {
  text-align: center;
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #36a18b;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: #fafbfb;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}

#footer .copyright {
  color: #2b697a;
}

#footer .footer-links a {
  padding-left: 15px;
}
